.label-title {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-width: 2;
    -fx-border-color: #007bff;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 10 18;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 10, 0.2, 0, 2);
}